tbody, td, tfoot, th, thead, tr {
    border-width: 0 1px;
  }
  
  .table>:not(caption)>*>* {
    padding: 0;
  }
  
  .table {
    border: 1px solid #000;
  }
  
  .table tbody tr td {
    font-weight: 500;
    padding: 5px;
  }
  
  thead tr th {
    color: #000;
  }
  
  tfoot tr {
    border: 1px solid #000;
  }
  
  .heading {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-left: 240px;
  }
  
  .secondHeading {
    font-weight: bold;
    font-size: 12px;
    /* text-align: center; */
  }
  
  .taxContentSize {
    font-size: 12px;
    /* text-align: center; */
  }
  .taxContent {
    font-size: 10px;
  }

.heading {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.sub-heading{
  font-weight: 600;
  font-size: 16px;
}

  .paargraph-head {
    width: 150px;
    font-size:14px;
    font-weight: 500;
  }
  .paargraph{
    width: 770px;
    font-size:14px;
    font-weight: 500;
  }

  .footer {
    margin-top: auto;
    padding-top: 70px;
  }
  
  .footer-one {
    margin-top: auto;
    padding-top: 80px;
  }
  .line {
    width: 100%;
  }


h3::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid black;
    width: 12rem;
    margin: 0 1rem;
    transform: translateY(.05rem);

}

/* .cost-details {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.cost-details div {
  display: flex;
  justify-content: space-between;
  width: 30%;
} */