<div style="height: 100vh; overflow-y: auto;">
    <div style="position: relative">

        <div class="m-2" #table #tableRef ngxPrintElement>
            <div class="d-flex align-items-center justify-content-center">
                <div>
                    <img src="assets/icons/Mangalagiri Weavers.jpg" alt="" width="100px">
                </div>
                <div>
                    <h1 style="font-size: 36px; font-weight: bold;">Purchase Order</h1>
                </div>
              </div>

            <div class="d-flex justify-content-between align-items-center mb-2">
                <div>
                    <p class="sub-heading">Ref : {{newNote?.purchaseRef}}</p>
                    <!-- <p>CIN No : U74900AP2014PTC095541</p> -->
                </div>
                <div>
                    <p class="sub-heading">Document Date:&nbsp; <span
                            class="sub-heading">{{newNote?.documentDate}}</span></p>
                    <p class="sub-heading"> PO No:&nbsp; {{newNote?.purchaseNo}}</p>
                    <p class="sub-heading">GST No: &nbsp; <span class="sub-heading">37ABXFM8268Q1ZR</span></p>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center" style="height: 15vh; border: 1px solid;">
                <div class="w-100 h-100" style="border-right: 1px solid;">
                    <p class="sub-heading w-100 p-0" style="border-bottom: 1px solid;">Bill from :</p>

                    <p style="border-bottom: 1px solid;">{{newNote?.vendorName}}</p>
                    <p>{{newNote?.addressLine1}}</p>
                    <p>{{newNote?.mobileNumber1}}</p>
                    <p> {{newNote?.vendorGstin}}</p>
                </div>

                <div class="w-100 h-100">
                    <p class="sub-heading w-100 p-0" style="border-bottom: 1px solid">Ship To :</p>

                    <p style="border-bottom: 1px solid">MHDC International Pvt Ltd.</p>
                    <p>S.No.49, P.No.133</p>
                    <p>Autonagar, Mangalagiri,</p>
                    <p>Guntur District</p>
                    <p>Pincode- 522503, Andhra Pradesh</p>
                </div>
            </div>


            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Items</th>
                            <th>Description</th>
                            <th>UOM</th>
                            <th> Qty.</th>
                            <th> Unit price</th>
                            <th class="text-end"> Amounts(INR)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mainData; let i = index">
                            <td>{{item.itemCode}}</td>
                            <td>{{item.itemName}}</td>
                            <td>{{item.itemUom == 1 ? 'Laddi': item.itemUom == 2 ? 'Numbers' : item.itemUom == 3 ?
                                'Mark' : item.itemUom == 4 ? 'Kgs': item.itemUom == 5 ? 'Gms' : ''}}</td>
                            <td>{{item.orderQuantity}}</td>
                            <td>{{item.cost}}</td>
                            <td class="text-end">{{item.cost * item.orderQuantity}}</td>
                            <!-- <td>{{item.amount}}</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex flex-column align-items-end">
                <div class="d-flex justify-content-between w-25">
                    <p class="sub-heading">SUB TOTAL</p>
                    <p class="sub-heading">{{newNote?.subTotal}}</p>
                </div>
                <div class="d-flex justify-content-between w-25">
                    <p class="sub-heading">SGST@{{newNote?.sgstPercent}}</p>
                    <p class="sub-heading">{{newNote?.sgst}}</p>
                </div>
                <div class="d-flex justify-content-between w-25">
                    <p class="sub-heading">CGST@{{newNote?.cgstPercent}}</p>
                    <p class="sub-heading">{{newNote?.cgst}}</p>
                </div>
                <div class="d-flex justify-content-between w-25">
                    <p class="sub-heading">IGST@{{newNote?.igstPercent}}</p>
                    <p class="sub-heading">{{newNote?.igst ?? '-'}}</p>
                </div>
                <div class="d-flex justify-content-between w-25">
                    <p class="sub-heading">TOTAL</p>
                    <p class="sub-heading">{{newNote?.grandTotal}}</p>
                </div>

                <div class="d-flex flex-row-reverse justify-content-between mt-2 w-100">
                    <div class="d-flex justify-content-around">
                        .
                        <!-- <p class="sub-heading">TOTAL</p>
                        <p class="w-25">{{newNote?.grandTotal}}</p> -->
                    </div>
                    <p class="my-3" class="sub-heading mb-3">Total amount In Words:{{newNote?.grandTotal| numberToWords}}</p>
                </div>
            </div>


            <div>
                <p class="sub-heading">Terms and Conditions:</p>

                <div class="d-flex justify-content-start align-items-center">
                    <p class="paargraph-head">Taxes</p>
                    <p class="paargraph">:CGST @{{newNote?.cgstPercent}} + SGST @{{newNote?.sgstPercent}} + IGST @ {{newNote?.igstPercent}}</p>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <p class="paargraph-head">Dispatch schedule </p>
                    <p class="paargraph">:Immediately</p>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <p class="paargraph-head">payment Terms </p>
                    <p class="paargraph">:NET 30 days.</p>
                </div>
                <!-- <div class="d-flex justify-content-start align-items-center">
                    <p class="paargraph-head">Qualityterms</p>
                    <p class="paargraph">: Material acceptance is subjected to testing by IVIS qualitity control team. The
                        material will be rejected and the PO can be</p>
                </div> -->
                <!-- <div class="d-flex justify-content-start align-items-center">
                    <p class="paargraph-head">.</p>
                    <p class="paargraph">:cancelled if it does not meet the requirements.</p>
                </div> -->
    
                <!-- <div class="d-flex justify-content-start align-items-center">
                    <p class="paargraph-head">Cancellation policy</p>
                    <p class="paargraph">:IVIS reserves the right to cancel the PO at any time even after the receipt of the
                        material without specifying any reason.</p>
                </div> -->
                <!-- <div class="d-flex justify-content-start align-items-center">
                    <p class="paargraph-head">Email </p>
                    <p class="paargraph">:Send invoices and delivery confirmations to the following email addresses after
                        dispatch.</p>
                </div> -->
                <!-- <div class="d-flex justify-content-start align-items-center">
                    <p class="paargraph-head">. </p>
                    <p class="paargraph">:procurement@MHDC.net,</p>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <p class="paargraph-head">. </p>
                    <p class="paargraph">:inventory1@MHDC.net</p>
                </div> -->
                <div class="d-flex justify-content-start align-items-center">
                    <p class="paargraph-head">Billing Address&nbsp;</p>
                    <p class="paargraph">:MHDC International Pvt. Ltd.Regd. Off.: Flat No.508, Kosanam Roy Heights, APNRT Tech Park, Mangalagiri, </p>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <p class="paargraph-head">.</p>
                    <p class="paargraph">Guntur District - 522503, AP Mfg. Address:S.No.49, P.No.133, Autonagar, Mangalagiri Guntur District - 522503, Andhra Pradesh</p>
                </div> 
                
                
            </div>

            <div class="footer my-4">
                <div class="footer d-flex justify-content-between align-items-center">
                    <div>
                        <p class="sub-heading">Signature1&nbsp; ______________</p>
                        <p class="sub-heading">Signature2&nbsp; ______________</p>
                    </div>
                    <div>
                        <p class="sub-heading">Date1&nbsp; ______________</p>
                        <p class="sub-heading">Date2&nbsp; ______________</p>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center p-2" style="border-top: 1px solid;">
                <div class="mt-3">
                  <p class="sub-heading text-center">MHDC International Pvt. Ltd.</p>
                  <p class="text-center">Regd. Off.: Flat No.508, Kosanam Roy Heights, APNRT Tech Park,</p>
                  <p class="text-center">Mangalagiri, Guntur District - 522503, Andhra Pradesh</p>
                  <p class="text-center">Mfg. Address:S.No.49, P.No.133, Autonagar, Mangalagiri</p>
                  <p class="text-center">Guntur District - 522503, Andhra Pradesh</p>
                </div>
            </div>
        </div>
        

        <div class="d-flex justify-content-end align-items-center my-2" id="buttons" style="position: absolute; z-index: 99; right: 0;">
            <button class="btn btn-secondary btn-sm" mat-dialog-close>Close</button>
            <button class="btn btn-secondary btn-sm mx-2" (click)="onPrint1(tableElement)">Save Invoice</button>
        </div>
    </div>
</div>