<div style="height: 100vh; width: 40VW; padding: 10px;">

    <div #table #tableRef ngxPrintElement>
            <div class="d-flex justify-content-center border border-secondary p-2 mb-2">
                <!-- <img src="assets\icons\Mangalagiri Weavers Development Logo_2.jpg" alt="" width="124px" class="text-start"> -->
                <div class="text-center">
                <p class="secondHeading">Goods Receipt Note</p>
                <p class="secondHeading">Mangalagiri Handlooms Development Center Pvt Ltd</p>
                <p class="secondHeading">Mangalagiri</p>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div>
                    <p style="border: 1px solid #000; padding: 8px; width: 300px;">Location&nbsp; {{note?.state}}</p>
                </div>

                <div class="d-flex justify-content-between">
                    <div>
                        <p style="border: 1px solid #000; padding: 8px; width: 100px;">GRN NO&nbsp;</p>
                        <p style="border: 1px solid #000; padding: 8px; width: 100px;">GRN Date&nbsp;</p>
                    </div>

                    <div>
                        <p style="border: 1px solid #000; padding: 8px; width: 300px;">{{note?.grnNo}}</p>
                        <p style="border: 1px solid #000; padding: 8px; width: 300px;">{{note?.grnDate}}</p>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <div class="d-flex justify-content-between border border-secondary" style="width: 100%">
                    <div class="w-100" style="border-right: 1px solid #000;">
                        <p>MHDC Po No & Date</p>
                        <p style="border-top: 1px solid #000;">Supplier Invoice No</p>
                        <p style="border-top: 1px solid #000;">Project Name</p>
                        <p style="border-top: 1px solid #000;">Name of the Supplier</p>
                        <p style="border-top: 1px solid #000;">Date</p>
                    </div>

                    <div class="w-100">
                        <p>{{note?.purchaseRef}}</p>
                        <p style="border-top: 1px solid #000;">{{note?.invoiceNumber}}</p>
                        <p style="border-top: 1px solid #000;">{{note.projectName ??'Mangalagiri'}}</p>
                        <p style="border-top: 1px solid #000;">{{note?.vendorName}}</p>
                        <p style="border-top: 1px solid #000;">{{note?.invoiceDate}}</p>
                    </div>
                </div>

                <div class="d-flex border border-secondary" style="width: 100%">
                    <div style="border-right: 1px solid #000;">
                        <p>Address&nbsp;</p>
                    </div>
                    <div *ngIf="note?.country">
                        <p>{{note?.country}}, {{note?.state}}, {{note?.city}}, {{note?.postCode}}</p>
                    </div>
                </div>
            </div>

            <div class="mt-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th *ngFor="let header of tableItems">{{header}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of newnote?.items; let i = index">
                            <td class="heading">{{item.itemCode}}</td>
                            <td class="heading">{{item.itemName}}</td>
                            <td class="heading">{{item.quantity}}</td>
                            <td class="heading">{{item.cost}}</td>
                            <td class="heading">{{item.itemUom}}</td>
                            <td class="text-end heading">{{item.cost * item.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            

            <div class="d-flex flex-column align-items-end">
                <div class="d-flex justify-content-between w-25">
                    <p class="sub-heading">SUB TOTAL</p>
                    <p>{{note?.subTotal}}</p>
                </div>
                <div class="d-flex justify-content-between w-25">
                    <p class="sub-heading">SGST@{{note?.sgstPercent}}</p>
                    <p>{{note?.sgst}}</p>
                </div>
                <div class="d-flex justify-content-between w-25">
                    <p class="sub-heading">CGST@{{note?.cgstPercent}}</p>
                    <p>{{note?.cgst}}</p>
                </div>
                <div class="d-flex justify-content-between w-25">
                    <p class="sub-heading">IGST@{{note?.igstPercent}}</p>
                    <p>{{note?.igst}}</p>
                </div>

                <div class="d-flex flex-row-reverse justify-content-between mt-2 w-100">

                    <div class="d-flex justify-content-around">
                        <p class="sub-heading">TOTAL&nbsp;</p>
                        <p>{{note?.grandTotal ?? '________________'}}</p>
                    </div>
                    <p class="my-3" class="sub-heading mb-3">{{note?.grandTotal| numberToWords}}</p>
                </div>
            </div>

            <div class="my-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p class="sub-heading p-2">Signature 1&nbsp; __________________________</p>
                        <p class="sub-heading p-2">Signature 2&nbsp; __________________________</p>
                    </div>
                    <div>
                        <p class="sub-heading p-2">Date 1&nbsp; ________________</p>
                        <p class="sub-heading p-2">Date 2&nbsp; ________________</p>
                    </div>
                </div>
            </div>
    </div>

    <div class="d-flex justify-content-end align-items-center mt-1" id="buttons">
        <button class="btn btn-secondary btn-sm mx-2" (click)="onPrint1(tableElement)">Save Invoice</button>
        <button class="btn btn-secondary btn-sm" mat-dialog-close>Close</button>
    </div>
</div>