<div style="height: 100vh; overflow-y: auto;">

    <div class="m-2" style="position: relative;" *ngIf="Note" #table #tableRef ngxPrintElement>
        <div class="d-flex justify-content-between align-items-center p-2" style="border: 1px solid;">
            <div></div>
            <div>
                <img src="assets/icons/Mangalagiri Weavers Development Logo_2.jpg" alt="" width="80px">
                <span class="heading">TAX INVOICE</span>
            </div>
            <div>
                <p class="sub-heading">Inv No:&nbsp; {{this.Note?.invoiceNo }}</p>
                <p class="sub-heading">Inv Date:&nbsp; {{this.Note?.invoiceDate  | date: 'dd/MM/yyyy'}}</p>
            </div>
        </div>
     
        <div class="w-100" style="border: 1px solid;">
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">NAME&nbsp;</p>
                <p class="headingForMangalagiri">:MANGALAGIRI HANDLOOM DEVELOPMENT CENTER</p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">ADDRESS&nbsp;</p>
                <p class="paargraph">:Flat No.508, Kosanam Roy Heights, APNRT Tech Park, Mangalagiri, Guntur District
                </p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">STATE&nbsp;</p>
                <p class="paargraph">:Andhra Pradesh
                </p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">EMAIL&nbsp;</p>
                <p class="paargraph">:mhdcweavers&#64;gmail.com</p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">MSME URN&nbsp;</p>
                <p class="paargraph">:UDYAM-AP-04-0045278</p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">GSTIN&nbsp;</p>
                <p class="paargraph">:37ABXFM8268Q1ZR</p>
            </div>
        </div>

        <div class="d-flex" style="border: 1px solid;">
            <div style="border-right: 1px solid;"  class="w-25">
                <p class="sub-heading p-2">Bill To</p>
                <p class="sub-heading p-2">Name:&nbsp;{{Note?.clientName}} </p>
                <p class="taxContentSize p-2" *ngIf="Note?.address">Address:&nbsp;{{Note?.address}}</p>
                <!-- <p class="taxContentSize">Address:&nbsp;{{Note?.state}}</p> -->
                <p class="taxContentSize p-2"> Phone No:&nbsp;{{Note?.mobileNumber}}</p>
                <p class="taxContent p-2">Email:{{Note?.emailId}}</p>
            </div>
            <div style="border-right: 1px solid;" class="w-25">
                <p class="sub-heading p-2">Ship To</p>
                <p class="sub-heading p-2">Name:&nbsp;{{Note?.clientName}} </p>
                <p class="taxContentSize p-2" *ngIf="Note?.address">Address:&nbsp;{{Note?.address}}</p>
                <p class="taxContentSize p-2">Phone No:&nbsp;{{Note?.mobileNumber}}</p>
                <p class="taxContent p-2">Email:{{Note?.emailId}}</p>
            </div>
            <div class="w-50">
                <!-- <p class="sub-heading">Details</p> -->
                <p class="sub-heading p-2">PAN No :&nbsp;{{Note?.panNo}}</p>
                <p class="sub-heading p-2">PO No :&nbsp;{{Note?.poNo}} </p>
                <p class="sub-heading p-2">PO Date :{{Note?.poDate | date: 'dd/MM/yyyy'}}</p>
            </div>
        </div>

        <div>
            <table class="table m-0">
                <thead>
                    <tr>
                        <th class="text-center" *ngFor="let header of tableItems">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of newNote; let i = index">
                        <td style="text-align: center;">{{i+1}}</td>
                        <td style="text-align: center;">{{item.itemCode}}</td>
                        <td style="text-align: center;">{{item.itemName}}</td>
                        <!-- <td>{{'68798'}}</td> -->
                        <td style="text-align: center;">{{item.quantity}}</td>
                        <td style="text-align: center;">{{item.soldCost}}</td>
                        <td style="text-align: center;">{{item.soldCost * item.quantity}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between" style="border: 1px solid #000;">
            <div style="border-right: 1px solid #000; width: 100%;">
                <div style="border-bottom: 1px solid #000;">
                    <p class="sub-heading">Transport Name:</p>
                    <p class="sub-heading">Way Bill No :</p>
                </div>
                <div>
                    <p class="sub-heading">Terms & conditions:</p>
                    <p class="paargraph">1. All disputes subject to Mangalagiri Jurisdiction</p>
                    <p class="paargraph">2..Payment should be made with in 30 days from the date of Invoice</p>
                </div>
            </div>

            <div style="border-right: 1px solid; width: 150px;">
                <p style="border-bottom: 1px solid;">SubTotal</p>
                <p class="taxContentSize" style="border-bottom: 1px solid;">CGST&#64;{{Note?.cgstPercent ?? '-'}}%</p>
                <p class="taxContentSize " style="border-bottom: 1px solid;">SGST&#64;{{Note?.sgstPercent ?? '-'}}%</p>
                <p class="taxContentSize" style="border-bottom: 1px solid;">IGST&#64;{{Note?.igstPercent ?? '-'}}%</p>
                <p class="taxContentSize">Total</p>
            </div>

            <div style="width: 300px;">
                <p style="border-bottom: 1px solid; text-align: end;">{{Note?.subTotal ?? '-'}}</p>
                <p style="border-bottom: 1px solid; text-align: end;">{{Note?.cgst ?? '-'}}</p>
                <p style="border-bottom: 1px solid; text-align: end;">{{Note?.sgst ?? '-'}}</p>
                <p style="border-bottom: 1px solid; text-align: end;">{{Note?.igst ? Note?.igst : '-'}}</p>
                <p style="text-align: end;"> {{Note?.grandTotal ?? '-'}} </p>
            </div>
        </div>


        <div style="border: 1px solid;">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column" style="border-right: 1px solid;">
                    <div class="d-flex justify-content-start" style="border-bottom: 1px solid;">
                        <p class="sub-heading">Amount in Words &nbsp;-&nbsp; {{ Note?.grandTotal | numberToWords }}</p>
                    </div>

                    <div>
                        <div>
                            <p class="sub-heading">Bank Details&nbsp;ICICI Bank</p>
                            <p class="sub-heading">Account No&nbsp;384605500353</p>
                            <p class="sub-heading">IFSC Code&nbsp;ICIC0003846</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="d-flex flex-column align-items-end justify-content-between">
                        <p class="text-center">For Mangalagiri Handloom Development Center</p>
                        <p class="sub-heading mt-4">Authorised Signatory</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-end mt-1" id="buttons">
        <button class="btn btn-secondary btn-sm" mat-dialog-close>Close</button>
        <button class="btn btn-secondary btn-sm mx-2" (click)="onPrint1(tableElement)">Save Invoice</button>
    </div>
</div>