<div style="height: 100vh; overflow-y: auto;">
    <div class="mx-3" style="position: relative;" *ngIf="Note" #table #tableRef ngxPrintElement>

        <div style="position: absolute; top: -10%; right: 0;">
            <p class="secondHeading">Inv No:&nbsp; {{this.Note?.invoiceNo }}</p>
            <p class="secondHeading">Inv Date:&nbsp; {{this.Note?.invoiceDate}}</p>
        </div>

       
     
        <div class="w-100 mb-2">
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">NAME&nbsp;</p>
                <p class="headingForMangalagiri">MANGALAGIRI HANDLOOM DEVELOPMENT CENTER</p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">ADDRESS&nbsp;</p>
                <p class="paargraph">Flat No.508, Kosanam Roy Heights, APNRT Tech Park, Mangalagiri, Guntur District
                </p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">STATE&nbsp;</p>
                <p class="paargraph">Andhra Pradesh
                </p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">EMAIL&nbsp;</p>
                <p class="paargraph">mhdcweavers@gmail.com</p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">MSME URN&nbsp;</p>
                <p class="paargraph">UDYAM-AP-04-0045278</p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="paargraph-head">GSTIN&nbsp;</p>
                <p class="paargraph">37ABXFM8268Q1ZR</p>
            </div>
        </div>

        <div class="d-flex mb-2" style="border: 1px solid;">
            <div style="border-right: 1px solid;" class="p-2">
                <p class="secondHeading">Bill To</p>
                <p class="secondHeading">Name:&nbsp;{{Note?.clientName}} </p>
                <p class="taxContentSize" *ngIf="Note?.address">Address:&nbsp;{{Note?.address}}</p>
                <!-- <p class="taxContentSize">Address:&nbsp;{{Note?.state}}</p> -->
                <p class="taxContentSize"> Phone No:&nbsp;{{Note?.mobileNumber}}</p>
                <p class="taxContent">Email:{{Note?.emailId}}</p>
            </div>
            <div style="border-right: 1px solid;" class="p-2">
                <p class="secondHeading">Ship To</p>
                <p class="secondHeading">Name:&nbsp;{{Note?.clientName}} </p>
                <p class="taxContentSize" *ngIf="Note?.address">Address:&nbsp;{{Note?.address}}</p>
                <p class="taxContentSize">Phone No:&nbsp;{{Note?.mobileNumber}}</p>
                <p class="taxContent">Email:{{Note?.emailId}}</p>
            </div>
            <div class="p-2">
                <!-- <p class="secondHeading">Details</p> -->
                <p class="secondHeading">PAN No :&nbsp;{{Note?.panNo}}</p>
                <p class="secondHeading">PO No :&nbsp;{{Note?.poNo}} </p>
                <p class="secondHeading">PO Date :{{Note?.poDate | date: 'dd/MM/yyyy'}}</p>
            </div>
        </div>

        <div class="mb-2">
            <table class="table">
                <thead>
                    <tr>
                        <th *ngFor="let header of tableItems">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of newNote; let i = index">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">{{item.itemCode}}</td>
                        <td class="text-center">{{item.itemName}}</td>
                        <td class="text-center">{{'68798'}}</td>
                        <td class="text-center">{{item.quantity}}</td>
                        <td class="text-center">{{item.cost}}</td>
                        <td class="text-end">{{item.cost * item.quantity}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between mb-2" style="border: 1px solid #000;">
            <div style="border-right: 1px solid #000; width: 580px;">
                <div style="border-bottom: 1px solid #000;">
                    <p class="secondHeading">Transport Name:</p>
                    <p class="secondHeading">Way Bill No :</p>
                </div>
                <div>
                    <p class="secondHeading">Terms & conditions:</p>
                    <p class="paargraph">1. All disputes subject to Mangalagiri Jurisdiction</p>
                    <p class="paargraph">2..Payment should be made with in 30 days from the date of Invoice</p>
                </div>
            </div>

            <div style="border-right: 1px solid; width: 100px;">
                <p style="border-bottom: 1px solid;">SubTotal</p>
                <p class="taxContentSize" style="border-bottom: 1px solid;"> CGST@&nbsp;{{Note?.cgstPercent ?? '-'}}</p>
                <p class="taxContentSize " style="border-bottom: 1px solid;"> SGST@&nbsp;{{Note?.sgstPercent ?? '-'}}</p>
                <p class="taxContentSize" style="border-bottom: 1px solid;"> IGST@&nbsp;{{Note?.igstPercent ?? '-'}}</p>
                <p class="taxContentSize">Total</p>
            </div>

            <div style="width: 300px;">
                <p style="border-bottom: 1px solid;" class="text-end">{{Note?.subTotal ?? '-'}}</p>
                <p style="border-bottom: 1px solid;" class="text-end">{{Note?.cgst ?? '-'}}</p>
                <p style="border-bottom: 1px solid;" class="text-end">{{Note?.sgst ?? '-'}}</p>
                <p style="border-bottom: 1px solid;" class="text-end">{{Note?.igst ? Note?.igst : 0}}</p>
                <p class="text-end"> {{Note?.grandTotal ?? '-'}} </p>
            </div>
        </div>


        <div class="d-flex justify-content-end">
            <p class="secondHeading">Amount in Words &nbsp;-&nbsp; {{ Note?.grandTotal | numberToWords }}</p>
        </div>

        <div class="d-flex justify-content-between w-100 mb-2" style="border: 1px solid #000;">
            <div style="border-right: 1px solid #000;">
                <div>
                    <p class="secondHeading">Bank Details&nbsp;ICICI Bank</p>
                    <p class="secondHeading">Account No&nbsp;384605500353</p>
                    <p class="secondHeading">IFSC Code&nbsp;ICIC0003846</p>
                </div>
            </div>
            <div class="d-flex flex-column align-items-end" style="padding-left: 10px;">
                <p class="text-center" style="font-size: 11px; font-weight: bold;">For Mangalagiri Handloom Development Center</p>
                <p class="secondHeading mt-5">Authorised Signatory</p>
            </div>
        </div>
    </div>



    <div class="d-flex justify-content-end align-items-end mt-1" id="buttons">
        <button class="btn btn-secondary btn-sm" mat-dialog-close>Close</button>
        <button class="btn btn-secondary btn-sm mx-2" (click)="onPrint1(tableElement)">Save Invoice</button>
    </div>
</div>