<div class="container-fluid main-dashboard">
<div class="d-flex justify-content-between align-items-center">
  <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:26px;" class="top-heading mt-1">Operations Dashboard For Weavers</h1>
    <!-- <div class="col-lg-3 from-date mt-3">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker4">
            <input matStartDate placeholder="Created from" [(ngModel)]="startDate">
            <input matEndDate placeholder="Created to" [(ngModel)]="endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="rangePicker4"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker4>
            <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply (click)="listDashboard({startDate:startDate,endDate:endDate})">Apply</button>
         
            </mat-date-range-picker-actions>
        </mat-date-range-picker>
        </mat-form-field>
    </div> -->
</div>

  <div class="row search-form d-flex">
   
    <!-- <div class="col-lg-3 col-md-3">
        <mat-form-field class="example-form-field" appearance="outline" class="w-100">
        <mat-label>Search</mat-label>
        <input matInput type="text"  [(ngModel)]="searchText">
        <button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        </mat-form-field>
    </div> -->
</div>
<!-- <div class="row">
  <div class="col-md-12">
    <div class="table-resp">
      <table class="table table-hover" id="mytable">
        <thead>
          <tr class="form1">
            <th>
              <p>
                <span>Id</span>
                <img (click)="sort('id')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>Item Name</span>
                <img (click)="sort('itemName')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>Item Type</span>
                <img (click)="sort('itemType')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>Item UOM</span>
                <img (click)="sort('itemUom')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>Description</span>
                <img (click)="sort('description')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>Remarks</span>
                <img (click)="sort('remarks')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>Actions</p>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="!showLoader">
          <tr *ngFor="let cust of dashdata | search : searchText; let i = index">
            <td>
              <p>{{ cust.id }}</p>
            </td>
            <td>
              <p>{{ cust.itemName }}</p>
            </td>
            <td>
              <p>{{ cust.itemType == 1 ? 'Raw material' : cust.itemType == 2 ? 'Finished Product' : cust.itemType == 3 ? 'component' : cust.itemType == 4 ? 'Sub component' : '' }} </p>
            </td>
            <td>
              <p>{{ cust.itemUom == 1 ? 'Laddi' : cust.itemUom == 2 ? 'numbers' : cust.itemUom == 3 ?  'Mark' : cust.itemUom == 4 ? 'Kgs' : cust.itemUom == 5 ?  'Grams': '' }} </p>
            </td>
            <td>
              <p>{{ cust.description}}</p>
            </td>
            <td>
              <p>{{ cust.remarks}}</p>
            </td>
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->



  <!-- <img src="assets/icons/next.svg" alt="" class="prevvert" (click)="prevvert()">

  <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 card-menu" *ngFor="let ver of showcardReport">
    <div class="card1">
      <div class="card-header">
        <div>
            <span style="font-weight: bold; color: #034926;" class="pointer" (click)="open(ver)">{{ver.itemName}}</span>
        </div>
        <span style="color: #034926;"><b>{{ver.totalQuantity}}</b></span>
      </div>
    </div>
</div>
<img src="assets/icons/next.svg" alt="" class="nextvert" (click)="nextvert()"> -->

<!-- <div class="row">
  <div class=" col-md-12">
    <mat-card class="title-card">
      <div class="row">
      <div class="col-md-2 col-lg-2 mt-1"  *ngFor=" let item of dashdata" (click)="open(item)">
        <div class="card">
          <div class="card-body text-center">
            <h1 class="card-title" style="font-size: 12px;  font-weight: bold;">{{item.itemName}}</h1>
            <p class="card-text  pointer " style=" font-size: 12px;font-weight: bold;"><a>{{item.totalQuantity}} </a></p>
       
          </div>
        </div>
      </div>  
    </div>
    </mat-card>
  </div> -->

  <div class="row">
    
    <div class="col-md-8">
      <mat-card class="title-card p-2">
    
        <div class=" items row" >
        
          <!-- <div class="col-lg-4">
            <p class="text-center" style="color: #17a860; font-size: 28px;">Sales</p>
            <div class="card mt-2" style="height: 14vh; ">

              <div class="card-body text-center">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="card-title" style="font-size: 18px;  font-weight: bold; color: #17a860;">Production Cost</p>
                  <p class="card-title  my-3" style="font-size: 18px;  font-weight: bold; color: #17a860;">Sales</p>
                  <p class="card-title" style="font-size: 18px; font-weight: bold; color: #17a860;">
                    {{ item.profit !== null ? 'Profit' : (item.loss !== null ? 'Loss' : 'Profit/Loss') }}
                  </p>
                  
              </div>
              <div >
                <p class="card-text  pointer " style=" font-size: 18px;font-weight: bold;  color: #17a860;"><a>{{item.cost ?? '-'}}</a></p>
                <p class="card-text  pointer my-3" style=" font-size: 18px;font-weight: bold;  color: #17a860;"><a>{{item.sales ?? '-'}}</a></p>
                <p class="card-text pointer" style="font-size: 18px; font-weight: bold; color: #17a860;" 
                [ngStyle]="{ color: item.profit !== null ? '#17a860' : (item.loss !== null ? '#17a860' : '17a860') }">
               <a>
                 {{ item.profit !== null ? item.profit : (item.loss !== null ? item.loss : '-') }}
               </a>
             </p>
            
              </div>
            </div>
              </div>
            </div>
          </div> 
    
        <div class="col-lg-4">
          <p class="text-center" style="color: #17a860; font-size: 28px;">Production</p>
          <div class="card mt-2"  style="height:14vh; ">
            <div class="card-body text-center">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="card-title" style="font-size: 18px;  font-weight: bold; color: #17a860;">Remaining Inventory</p>
                  <p class="card-title my-3" style="font-size: 18px;  font-weight: bold; color: #17a860;">Number Of Sarees</p>
                  <p class="card-title " style="font-size: 18px;  font-weight: bold; color: #17a860;">Sarees Sold</p>
              </div>
              <div>
                <p class="card-text  pointer" style=" font-size: 18px;font-weight: bold;  color: #17a860;"><a>{{item.remainingInventory ?? '-'}}</a></p>
                <p class="card-text  pointer  my-3" style=" font-size: 18px;font-weight: bold;  color: #17a860;"><a>{{item.noOfSarees ??'-'}}</a></p>
                <p class="card-text  pointer" style=" font-size: 18px;font-weight: bold;  color: #17a860;"><a>{{item.sareesSold ?? '-'}}</a></p>
              </div>
            </div>
         
            </div>
          </div>
        </div>   -->

        <!-- <div class="col-lg-4 from-date mt-5">
          <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select a From Date And To Date</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker1">
              <input matStartDate placeholder="Created from" [(ngModel)]="filterBody1.startDate">
              <input matEndDate placeholder="Created to"  [(ngModel)]="filterBody1.endDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="rangePicker1"></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker1>
              <mat-date-range-picker-actions>
              <button mat-button matDateRangePickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDateRangePickerApply (click)="listDashboard({startDate:filterBody1.startDate, endDate:filterBody1.endDate})">Apply</button>
           
              </mat-date-range-picker-actions>
          </mat-date-range-picker>
          </mat-form-field>
      </div> -->
  

        <div class="d-flex justify-content-between align-items-center" *ngFor="let item of newDashdata">
          <mat-card class="" style="height: 15vh; background-color: rgb(146, 185, 142); width: 20vw;"> <div>
           <p class="mt-5 text-center">Total Sarees</p>
           <p class="mt-4 text-center">{{item.totalSarees}}</p>
         </div>
       </mat-card >
          <mat-card  class="mx-2" style="height: 15vh; background-color: rgb(156, 218, 166); width: 20vw;">
           <div>
             <p class="mt-5 text-center">Sarees Sold</p>
             <p class="mt-4 text-center">{{item.sareesSold}}</p>
           </div>
          </mat-card>
       <mat-card class="" style="height: 15vh; background-color: rgb(128, 165, 124); width: 20vw;">
         <div>
           <p class="mt-5 text-center">Remaining Sarees</p>
           <p class="mt-4 text-center">{{item.remaining}}</p>
   
         </div>
       </mat-card>
         </div>
      </div>

         

      <div class="row charts">
  <div class="d-flex justify-content-between my-1 verticals">
    <div>
      <h6 style="font-size: 20px;"><b>Analytics</b></h6>
    </div>
  </div>
       

      <!-- <div>
        <input type="date" name="" id="" class="w-25" style="height: 30px;">
      </div> -->
     <div class="row">
      <div class="col-lg-6 from-date">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker1">
            <input matStartDate placeholder="Created from"  [(ngModel)]="salesStartDate">
            <input matEndDate placeholder="Created to"  [(ngModel)]="salesEndDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="rangePicker1"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker1>
            <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply (click)="mychart()">Apply</button>
         
            </mat-date-range-picker-actions>
        </mat-date-range-picker>
        </mat-form-field>
    </div>
    <div class="col-lg-6 from-date">
      <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker2">
          <input matStartDate placeholder="Created from"  [(ngModel)]="productionStartDate">
          <input matEndDate placeholder="Created to"   [(ngModel)]="productionEndDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="rangePicker2" ></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker2>
          <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDateRangePickerApply (click)="mychart1()">Apply</button>
       
          </mat-date-range-picker-actions>
      </mat-date-range-picker>
      </mat-form-field>
  </div>
     </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div id="chart"></div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div id="chart1"></div>
  </div>
  <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div id="chart2"></div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div id="chart3"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="chart4"></div>
  </div> -->
</div>

     

   
        <!-- <div class="col-lg-3">
      
          <mat-card class="p-5 mt-4" style="background-color: #cde2d1;">
            <div class="d-flex justify-content-between align-items-center">
              <h1>Total Sarees</h1>
            <h1>3456798</h1>
            </div>
           </mat-card>
         </div>
     <div class="col-lg-3">
      <mat-card class="p-5 mt-4" style="background-color: #cde2d1;">
        <div class="d-flex justify-content-between align-items-center">
          <h1> Sarees To be produced</h1>
        <h1>3456798</h1>
        </div>
       </mat-card>
     </div>
      -->
 
      <!-- <div class="col-lg-3 from-date mt-3">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select a From Date And To Date</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker2">
            <input matStartDate placeholder="Created from" [(ngModel)]="filterBody2.startDate">
            <input matEndDate placeholder="Created to"  [(ngModel)]="filterBody2.endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="rangePicker2"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker2>
            <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply (click)="dashboard({startDate:filterBody2.startDate, endDate:filterBody2.endDate})">Apply</button>
         
            </mat-date-range-picker-actions>
        </mat-date-range-picker>
        </mat-form-field>
    </div> -->

<div class="row">
  <!-- <div class="col-lg-4">
    
    <div class="mt-3 text-center">
      <mat-card style="height: 50vh; width: 20vw; border-radius: 12px; background-color: #99b49f;  overflow-x: scroll;" class="p-4">
        <h1>Raw Materials</h1>
        <div class="col-md-2 col-lg-2 mt-1"  *ngFor=" let item of dashdata" (click)="open(item)" >
          <div class=" p-3" style="width: 18vw; height: 8vh;">
            <div class="card-body">
              <h1 class="card-title" style="font-size: 12px;  font-weight: bold; border-bottom: 1px solid black;">{{item.itemName}} - {{item.totalQuantity}}</h1>
  
         
            </div>
          </div>
        </div>  
      </mat-card>
     </div>
  </div> -->
  <div class="col-lg-6 from-date">
    <mat-form-field appearance="outline" class="w-100">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="rangePicker3">
        <input matStartDate placeholder="Created from" [(ngModel)]="filterBody1.startDate">
        <input matEndDate placeholder="Created to"  [(ngModel)]="filterBody1.endDate">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="rangePicker3"></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker3>
        <mat-date-range-picker-actions>
        <button mat-button matDateRangePickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDateRangePickerApply (click)="weaversProduction({startDate:filterBody1.startDate, endDate:filterBody1.endDate})">Apply</button>
     
        </mat-date-range-picker-actions>
    </mat-date-range-picker>
    </mat-form-field>
</div>
  
  <div class="col-lg-12">
    <div class="table-resp mt-2" style="height: 15vh; overflow-y: auto;">
      <table class="table table-hover  table-striped" id="mytable">
        <thead>
          <tr class="form1">
            <th>
              <p>
                <span>S.No</span>
                <img (click)="sort('id')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th >
              <p>
                <span>Weaver Id</span>
                <img (click)="sort('itemName')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th class="text-center">
              <p>
                <span>Weaver Name </span>
                <img (click)="sort('itemName')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th class="text-center">
              <p>
                <span >Sarees Produced</span>
                <img (click)="sort('itemType')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
           
          
          </tr>
        </thead>
        <tbody *ngIf="!showLoader">
          <tr *ngFor="let cust of newdata | search : searchText; let i = index">
            <td>
              <p >{{ i+1 }}</p>
            </td>
            <td>
              <p>{{ cust.weaverName }}</p>
            </td>
            <td>
              <p class="text-center">{{ cust.weaverId}}</p>
            </td>
            <td>
              <p class="text-center">{{ cust.sareesProduced}}</p>
            </td>
          
          </tr>
        </tbody>
        
      </table>
      <div class="d-flex align-items-center justify-content-center" style="height:20%;" *ngIf="newdata.length == 0">
        <h1 class="text-secondary">No weavers worked on these dates</h1>
      </div>
    </div>
  </div>

 
</div>
</mat-card>
</div>

<div class="items  col-lg-4" *ngFor="let item of newDashdata">
  <mat-card class="title-card p-2">
      <mat-card  class="mx-2 mb-2 text-center" style="height: 15vh; background-color: rgb(156, 218, 166);">
       <div>
         <p class="mt-4 ">Total Sales</p>
         <p class="mt-4">{{item.totalSales}}</p>
       </div>
      </mat-card>
    <mat-card class="mx-2 mb-2 text-center" style="height: 15vh; background-color: rgb(146, 185, 142);"> <div>
      <p class="mt-4 ">Production Cost</p>
      <p class="mt-4">{{item.productionCost}}</p>
    </div>
  </mat-card >
  <mat-card class="mx-2 mb-2 text-center" style="height: 15vh; background-color: rgb(128, 165, 124);">
    <div>
      <p class="mt-4">Number of Dealers</p>
      <p class="mt-4">{{item. numberOfDealers}}</p>
  
    </div>
  </mat-card>
  <mat-card class="mx-2 mb-2 text-center" style="height: 15vh; background-color: rgb(146, 185, 142);"> <div>
    <p class="mt-4 ">Number of Customers</p>
    <p class="mt-4">{{item.numberOfCustomers}}</p>
  </div>
</mat-card >
   <mat-card  class="mx-2 mb-2 text-center" style="height: 15vh; background-color: rgb(156, 218, 166);">
    <div>
      <p class="mt-4">Number of Weavers</p>
      <p class="mt-4">{{item.numberOfWeavers}}</p>
    </div>
   </mat-card>
<mat-card class="mx-2 mb-2 text-center" style="height: 15vh; background-color: rgb(128, 165, 124);">
  <div>
    <p class="mt-4">Number of Vendors</p>
    <p class="mt-4">{{item.numberOfVendors}}</p>

  </div>
</mat-card>
<mat-card class="mx-2 mb-2 text-center" style="height: 15vh; background-color: rgb(128, 165, 124);">
  <div>
    <p class="mt-4">Profit/Loss</p>
    <p class="mt-4" class="mt-4" [ngStyle]="{ 'color': item.profitOrLoss < 0 ? '#ff2c2c' : 'green' }">{{item.profitOrLoss}}</p>

  </div>
</mat-card>
  
</mat-card>
  </div>
   


  

    
 



     

  

    <!-- <mat-card class="p-5 " style="background-color: rgb(221, 213, 204);">
    <div class="d-flex justify-content-between align-items-center">
       <mat-card class="p-3"> <div>
        <p>	
          Mangalagiri Cotton 2.5 inch Silver Zari Border</p>
        <p class="mt-4 text-center">789</p>
      </div></mat-card>
        <div>
          <p>Mangalagiri Cotton 1.5 inch Silver Zari Border</p>
          <p class="mt-4 text-center">54e5</p>
        </div>
    <mat-card class="p-3">
      <div>
        <p>	
          Mangalagiri Cotton 1.5 inch Gold Zari Border</p>
        <p class="mt-4 text-center">678</p>

      </div>
    </mat-card>
        <div>
          <p>Mangalagiri Cotton 2 inch Gold Zari Border</p>
          <p class="mt-4 text-center">789</p>
        </div>
      <mat-card class="p-3">
        <div>
          <p>	
            Mangalagiri Cotton 2.5 inch Gold Zari Border</p>
            <p class="mt-4 text-center">567</p>
         
        </div>
      </mat-card>
        <div>
          <p>	
            Mangalagiri Cotton 1.5 inch Thread border</p>
            <p class="mt-4 text-center">67</p>
        </div>

        <div>
          <p>	
            Mangalagiri Cotton 2 inch Thread border</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
           	
Mangalagiri Cotton 2.5 inch Thread border</p>
            <p class="mt-4 text-center">67</p>
        </div>



        
        
        
        
        
      </div>
    </mat-card>

    <mat-card  class="p-5 " style="background-color: rgb(221, 213, 204);">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p>	
            Mangalagiri Cotton 1.5 inch Gold Zari Border (old)</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
            Mangalagiri Cotton 1.5 inch Silver Zari Border (Old)</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
            250 Cotton x Pattu Small Border</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
            Plain cotton Saree</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
             
Jacquard Pattu x Pattu Bhuta Sarees</p>
            <p class="mt-4 text-center">67</p>
        </div>

        <div>
          <p>	
             
Jacquard Sarees Pattu x Pattu</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
             
Jacquard Sarees</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
            Mangalagiri Cotton</p>
            <p class="mt-4 text-center">67</p>
        </div>
        <div>
          <p>	
            200 Cotton x Pattu Small Border</p>
            <p class="mt-4 text-center">67</p>
        </div>
        <div>
          <p>	
            300 Cotton x Pattu Big Border</p>
            <p class="mt-4 text-center">67</p>
        </div>
      </div>
    </mat-card> -->
  

</div>

