<div class="container-fluid main-dashboard">
<div class="d-flex justify-content-between align-items-center">
  <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:26px;" class="top-heading mt-1">Operations Dashboard For Weavers</h1>

</div>

  <div class="row search-form d-flex">
    <!-- <div class="col-lg-3 from-date mt-3">
      <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
          <input matStartDate placeholder="Created from" [(ngModel)]="filterBody.startDate">
          <input matEndDate placeholder="Created to"  [(ngModel)]="filterBody.endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDateRangePickerApply (click)="filterDash()">Apply</button>
       
          </mat-date-range-picker-actions>
      </mat-date-range-picker>
      </mat-form-field>
  </div> -->
    <!-- <div class="col-lg-3 col-md-3">
        <mat-form-field class="example-form-field" appearance="outline" class="w-100">
        <mat-label>Search</mat-label>
        <input matInput type="text"  [(ngModel)]="searchText">
        <button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        </mat-form-field>
    </div> -->
  
</div>
<!-- <div class="row">
  <div class="col-md-12">
    <div class="table-resp">
      <table class="table table-hover" id="mytable">
        <thead>
          <tr class="form1">
            <th>
              <p>
                <span>Id</span>
                <img (click)="sort('id')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>Item Name</span>
                <img (click)="sort('itemName')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>Item Type</span>
                <img (click)="sort('itemType')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>Item UOM</span>
                <img (click)="sort('itemUom')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>Description</span>
                <img (click)="sort('description')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>Remarks</span>
                <img (click)="sort('remarks')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>Actions</p>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="!showLoader">
          <tr *ngFor="let cust of dashdata | search : searchText; let i = index">
            <td>
              <p>{{ cust.id }}</p>
            </td>
            <td>
              <p>{{ cust.itemName }}</p>
            </td>
            <td>
              <p>{{ cust.itemType == 1 ? 'Raw material' : cust.itemType == 2 ? 'Finished Product' : cust.itemType == 3 ? 'component' : cust.itemType == 4 ? 'Sub component' : '' }} </p>
            </td>
            <td>
              <p>{{ cust.itemUom == 1 ? 'Laddi' : cust.itemUom == 2 ? 'numbers' : cust.itemUom == 3 ?  'Mark' : cust.itemUom == 4 ? 'Kgs' : cust.itemUom == 5 ?  'Grams': '' }} </p>
            </td>
            <td>
              <p>{{ cust.description}}</p>
            </td>
            <td>
              <p>{{ cust.remarks}}</p>
            </td>
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->


<div class="row d-flex justify-content-between align-items-center my-4">

  <!-- <img src="assets/icons/next.svg" alt="" class="prevvert" (click)="prevvert()">

  <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 card-menu" *ngFor="let ver of showcardReport">
    <div class="card1">
      <div class="card-header">
        <div>
            <span style="font-weight: bold; color: #034926;" class="pointer" (click)="open(ver)">{{ver.itemName}}</span>
        </div>
        <span style="color: #034926;"><b>{{ver.totalQuantity}}</b></span>
      </div>
    </div>
</div>
<img src="assets/icons/next.svg" alt="" class="nextvert" (click)="nextvert()"> -->

<!-- <div class="row">
  <div class=" col-md-12">
    <mat-card class="title-card">
      <div class="row">
      <div class="col-md-2 col-lg-2 mt-1"  *ngFor=" let item of dashdata" (click)="open(item)">
        <div class="card">
          <div class="card-body text-center">
            <h1 class="card-title" style="font-size: 12px;  font-weight: bold;">{{item.itemName}}</h1>
            <p class="card-text  pointer " style=" font-size: 12px;font-weight: bold;"><a>{{item.totalQuantity}} </a></p>
       
          </div>
        </div>
      </div>  
    </div>
    </mat-card>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <mat-card class="title-card p-5">
        <div class="row">
          <div class="col-lg-2">
            <div class="card" style="height: 20vh; ">
              <div class="card-body text-center">
                <h1 class="card-title" style="font-size: 18px;  font-weight: bold; color: #17a860;">Production Cost</h1>
                <p class="card-text  pointer mt-4" style=" font-size: 18px;font-weight: bold;  color: #17a860;"><a>{{'3294706'}}</a></p>
           
              </div>
            </div>
          </div> 
        <div class="col-lg-2">
          <div class="card"  style="height: 20vh; ">
            <div class="card-body text-center">
              <h1 class="card-title" style="font-size: 18px;  font-weight: bold; color: #17a860;">Sales Revenue</h1>
              <p class="card-text  pointer " style=" font-size: 18px;font-weight: bold;  color: #17a860;"><a>{{'2781056'}} </a></p>
         
            </div>
          </div>
        </div>  
        <div class="col-lg-2">
          <div class="card"  style="height: 20vh; ">
            <div class="card-body text-center">
              <h1 class="card-title" style="font-size: 18px;  font-weight: bold; color: #17a860;">Total Returns</h1>
              <p class="card-text  pointer " style=" font-size: 18px;font-weight: bold; color: #135a1f;"><a>{{ ' 567678'}}</a></p>
         
            </div>
          </div>
        </div> 
        <div class="col-lg-2">
          <div class="card"  style="height: 20vh; ">
            <div class="card-body text-center">
              <h1 class="card-title" style="font-size: 18px;  font-weight: bold; color: #17a860;">saree Produced</h1>
              <p class="card-text  pointer " style=" font-size: 18px;font-weight: bold; color: #28551d;"><a>{{ ' 567678'}}</a></p>
         
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card"  style="height: 20vh; ">
            <div class="card-body text-center">
              <h1 class="card-title" style="font-size: 18px;  font-weight: bold; color: #17a860;">Profit</h1>
              <p class="card-text  pointer " style=" font-size: 18px;font-weight: bold; color: #1a701a;"><a>{{ ' 567678'}}</a></p>
         
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card"  style="height: 20vh; ">
            <div class="card-body text-center">
              <h1 class="card-title" style="font-size: 18px;  font-weight: bold; color: #17a860;">Total Sarees</h1>
              <p class="card-text  pointer " style=" font-size: 18px;font-weight: bold; color: #245719;"><a>{{ '567678'}}</a></p>
         
            </div>
          </div>
        </div>
        <!-- <div class="col-md-3 col-lg-3 p-4">
          <div class="card">
            <div class="card-body text-center">
              <h1 class="card-title" style="font-size: 18px;  font-weight: bold; color: #034926;">Loss</h1>
              <p class="card-text  pointer " style=" font-size: 18px;font-weight: bold; color: #034926;"><a>{{'513650'}}</a></p>
         
            </div>
          </div>
        </div>  -->
      </div>

   
        <!-- <div class="col-lg-3">
      
          <mat-card class="p-5 mt-4" style="background-color: #cde2d1;">
            <div class="d-flex justify-content-between align-items-center">
              <h1>Total Sarees</h1>
            <h1>3456798</h1>
            </div>
           </mat-card>
         </div>
     <div class="col-lg-3">
      <mat-card class="p-5 mt-4" style="background-color: #cde2d1;">
        <div class="d-flex justify-content-between align-items-center">
          <h1> Sarees To be produced</h1>
        <h1>3456798</h1>
        </div>
       </mat-card>
     </div>
      -->
 

<div class="row">
  <div class="col-lg-4">
    
    <div class="mt-3 text-center">
      <mat-card style="height: 50vh; width: 20vw; border-radius: 12px; background-color: #99b49f;  overflow-x: scroll;" class="p-4">
        <h1>Raw Materials</h1>
        <div class="col-md-2 col-lg-2 mt-1"  *ngFor=" let item of dashdata" (click)="open(item)" >
          <div class=" p-3" style="width: 18vw; height: 8vh;">
            <div class="card-body">
              <h1 class="card-title" style="font-size: 12px;  font-weight: bold; border-bottom: 1px solid black;">{{item.itemName}} - {{item.totalQuantity}}</h1>
              <!-- <p class="card-text  pointer " style=" font-size: 12px;font-weight: bold;"><a>{{item.totalQuantity}} </a></p> -->
         
            </div>
          </div>
        </div>  
      </mat-card>
     </div>
  </div>
  <div class="col-lg-8">
    <div class="table-resp mt-4" style="max-height: 500px;">
      <table class="table table-hover  table-striped" id="mytable">
        <thead>
          <tr class="form1">
            <th>
              <p>
                <span>Id</span>
                <img (click)="sort('id')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>ItemName</span>
                <img (click)="sort('itemName')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>ItemCode</span>
                <img (click)="sort('itemType')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>ItemType</span>
                <img (click)="sort('itemUom')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
            <th>
              <p>
                <span>Total Quantity</span>
                <img (click)="sort('description')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
              </p>
            </th>
          
          </tr>
        </thead>
        <tbody *ngIf="!showLoader">
          <tr *ngFor="let cust of newDashdata | search : searchText; let i = index">
            <td>
              <p>{{ i+1 }}</p>
            </td>
            <td>
              <p>{{ cust.itemName }}</p>
            </td>
            <td>
              <p>{{ cust.itemCode}}</p>
            </td>
            <td>
              <p>{{ cust.itemType == 1 ? 'Raw material' : cust.itemType == 2 ? 'Finished Product' : cust.itemType == 3 ? 'component' : cust.itemType == 4 ? 'Sub component' : '' }} </p>
            </td>
          
            <td>
              <p>{{ cust.totalQuantity}}</p>
            </td>
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
      
      
       
      <!-- <mat-card class="p-2 mt-4" style="background-color: #cde2d1;" >

        <div class="d-flex justify-content-between align-items-center">
           <mat-card class="mx-2" style="height: 10vh; background-color: rgb(146, 185, 142); width: 10vw;"> <div>
            <p class="mt-4 text-center">	2ply SPL Pattu</p>
            <p class="mt-4 text-center">789</p>
          </div>
        </mat-card >
           <mat-card  class="mx-2" style="height: 10vh; background-color: rgb(156, 218, 166); width: 10vw;">
            <div>
              <p class="mt-4 text-center">80x80 Fished Cotton 10 </p>
              <p class="mt-4 text-center">54e5</p>
            </div>
           </mat-card>
        <mat-card class="mx-2" style="height: 10vh; background-color: rgb(128, 165, 124); width: 10vw;">
          <div>
            <p class="mt-4 text-center">80x80 Cotton</p>
            <p class="mt-4 text-center">678</p>
    
          </div>
        </mat-card>
           <mat-card class="mx-2" style="height: 10vh; background-color: rgb(128, 165, 124); width: 12vw;">
            <div>
              <p  class="mt-4 text-center">12% Silver Touch, Silver Zari,</p>
              <p class="mt-4 text-center">789</p>
            </div>
           </mat-card>
          <mat-card class="mx-1" style="height: 10vh; background-color: rgb(109, 134, 106); width: 10vw;">
            <div>
              <p class="mt-4 text-center">	
                6% Gold Touch, Gold Zari,</p>
                <p class="mt-4 text-center">567</p>
             
            </div>
          </mat-card>
            <mat-card class="mx-2" style="height: 10vh; background-color: rgb(109, 134, 106); width: 10vw;">
              <div>
                <p  class="mt-4 text-center">	
                  Fished Pattu</p>
                  <p class="mt-4 text-center">67</p>
              </div>
            </mat-card>
    
          <mat-card class="mx-2" style="height: 10vh; background-color: rgb(109, 134, 106);width: 10vw;">
            <div>
              <p  class="mt-4 text-center">	
                3Ply SPL Pattu</p>
                <p class="mt-4 text-center">67</p>
            </div>
          </mat-card>
            <mat-card class="mx-2" style="height: 10vh; background-color: rgb(109, 134, 106); width: 10vw;">
              
            <div>
              <p  class="mt-4 text-center">	
                Damaged Cotton</p>
                <p class="mt-4 text-center">67</p>
            </div>
            </mat-card>
            
            
            
          </div>
        </mat-card> -->



      </mat-card>

    </div>
   


  

    
 


  

    <!-- <mat-card class="p-5 " style="background-color: rgb(221, 213, 204);">
    <div class="d-flex justify-content-between align-items-center">
       <mat-card class="p-3"> <div>
        <p>	
          Mangalagiri Cotton 2.5 inch Silver Zari Border</p>
        <p class="mt-4 text-center">789</p>
      </div></mat-card>
        <div>
          <p>Mangalagiri Cotton 1.5 inch Silver Zari Border</p>
          <p class="mt-4 text-center">54e5</p>
        </div>
    <mat-card class="p-3">
      <div>
        <p>	
          Mangalagiri Cotton 1.5 inch Gold Zari Border</p>
        <p class="mt-4 text-center">678</p>

      </div>
    </mat-card>
        <div>
          <p>Mangalagiri Cotton 2 inch Gold Zari Border</p>
          <p class="mt-4 text-center">789</p>
        </div>
      <mat-card class="p-3">
        <div>
          <p>	
            Mangalagiri Cotton 2.5 inch Gold Zari Border</p>
            <p class="mt-4 text-center">567</p>
         
        </div>
      </mat-card>
        <div>
          <p>	
            Mangalagiri Cotton 1.5 inch Thread border</p>
            <p class="mt-4 text-center">67</p>
        </div>

        <div>
          <p>	
            Mangalagiri Cotton 2 inch Thread border</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
           	
Mangalagiri Cotton 2.5 inch Thread border</p>
            <p class="mt-4 text-center">67</p>
        </div>



        
        
        
        
        
      </div>
    </mat-card>

    <mat-card  class="p-5 " style="background-color: rgb(221, 213, 204);">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p>	
            Mangalagiri Cotton 1.5 inch Gold Zari Border (old)</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
            Mangalagiri Cotton 1.5 inch Silver Zari Border (Old)</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
            250 Cotton x Pattu Small Border</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
            Plain cotton Saree</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
             
Jacquard Pattu x Pattu Bhuta Sarees</p>
            <p class="mt-4 text-center">67</p>
        </div>

        <div>
          <p>	
             
Jacquard Sarees Pattu x Pattu</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
             
Jacquard Sarees</p>
            <p class="mt-4 text-center">67</p>
        </div>
        
        <div>
          <p>	
            Mangalagiri Cotton</p>
            <p class="mt-4 text-center">67</p>
        </div>
        <div>
          <p>	
            200 Cotton x Pattu Small Border</p>
            <p class="mt-4 text-center">67</p>
        </div>
        <div>
          <p>	
            300 Cotton x Pattu Big Border</p>
            <p class="mt-4 text-center">67</p>
        </div>
      </div>
    </mat-card> -->
  



<!-- <div class="row charts">
  <div class="d-flex justify-content-between my-1 verticals">
    <div>
      <h6 style="font-size: 16px;"><b>Analytics</b></h6>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div id="chart"></div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div id="chart1"></div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div id="chart2"></div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div id="chart3"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="chart4"></div>
  </div>
</div> -->

</div>

