

.lists {
  margin-top: -20px;
}


/* ng-deep */
::ng-deep .mat-flat-button.mat-primary {
  background-color: #084982;
}

::ng-deep .mat-dialog-container {
  max-width: 550px !important;
  max-height: 550px !important;
}

/* common mat-button */
::ng-deep .mat-flat-button.mat-primary {
  background-color: #084982;
}

/* common mat-dialog */
::ng-deep .mat-dialog-content {
  margin: 0 !important;
  padding: 0 20px !important;
  max-height: 450px !important;
}

::ng-deep .mat-dialog-container {
  overflow: hidden !important;
  padding: 0 !important;
}

/* mat disable color */
::ng-deep .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: #000;
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: #000000;
}

/* common mat-form */
.mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  top: 5px;
  bottom: 5px;
  background: #F8F8F8;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

::ng-deep .mat-select-value {
  position: relative;
  bottom: 4px;
}

::ng-deep input.mat-input-element {
  position: relative;
  bottom: 4px;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-subscript-wrapper {
  padding: 0 5px;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #084982!important;
}
