/* .list-header {
  background-color: #084982;
  color: #ffffff;
  padding: 5px;
}

.list-header p{
  margin: 0;
}

.list-item {
  background-color: #ABABAB;
  padding: 3px;
  border-radius: 5px;
}

.list-item p{
  margin: 0;
} */


/* common ng-deep */

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  top: 5px;
  bottom: 5px;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

::ng-deep .mat-select-value {
  position: relative;
  bottom: 4px;
}

::ng-deep input.mat-input-element {
  position: relative;
  bottom: 4px;
}

::ng-deep .mat-tab-body-content {
  overflow-x: hidden !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #084982!important;
}

/** Toggle Switch **/
.on-off-toggle {
  width: 56px;
  height: 24px;
  position: relative;
  /* display: inline-block; */
}

.on-off-toggle__slider {
  width: 95px;
  height: 23px;
  display: block;
  border-radius: 34px;
  /* background-color: #fff; */
  border: 1px solid #00573c;
  transition: background-color 0.4s;
  cursor: pointer;
}

.on-off-toggle__slider:before {
  content: '';
  display: block;
  background-color: #D34124;
  /* box-shadow: 0 0 0 1px #949494; */
  bottom: 5px;
  height: 15px;
  left: 3px;
  position: absolute;
  transition: .4s;
  width: 16px;
  z-index: 5;
  border-radius: 100%;
}

.on-off-toggle__slider:after {
  display: block;
  line-height: 24px;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: bold;
  content: 'igst' ;
  color: #D34124;
  padding-left: 26px;
  transition: all 0.4s;
}


.on-off-toggle__input {
  position: absolute;
  opacity: 0;
}

.on-off-toggle__input:checked +
.on-off-toggle__slider {
  background-color: #fff;
  border: 1px solid #00573c;
}

.on-off-toggle__input +
.on-off-toggle__slider {
  background-color: #F8F8F8;
  border: 1px solid #D34124;
}

.on-off-toggle__input:checked + :before {
  transform: translateX(65px);
    background-color: #00573c;
}

.on-off-toggle__input:checked + :after {
  content: 'cgst&sgst';
  color: #00573c;
  padding-left: 8px;
}
  