<div class="container-fluid" id="top">

    <!-- header -->
    <div class="d-flex justify-content-between">
        <div class="users-header mt-2">
            <p>Weavers Dashboard</p>
        </div>
        <!-- <span>{{ indentTable?.length }}</span>  -->
        <div *ngIf="notFr">
            <!-- <a class="pointer" (click)="show('user')"><img src="assets/icons/add.svg" alt="" /></a> -->
            <!-- <button class="create-btn" (click)="show('indent', {type: 'main', data:null})">Allocate Machine</button> -->
        </div>
    </div>
    <!-- count -->
    <!-- <div class="row mb-2">
    <div class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-start">
        <div class="vl-green"></div>
        <div class="mx-2">
        <div class="status">Requested</div>
        <div class="count">{{ requested?.length }}</div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-start">
        <div class="vl-red"></div>
        <div class="mx-2">
        <div class="status">Dispatched</div>
        <div class="count">{{ dispatched?.length }}</div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-start">
        <div class="vl-red"></div>
        <div class="mx-2">
        <div class="status">Received</div>
        <div class="count">{{ received?.length }}</div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-start">
        <div class="vl-red"></div>
        <div class="mx-2">
        <div class="status">Installed</div>
        <div class="count">{{ installed?.length }}</div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-start">
        <div class="vl-red"></div>
        <div class="mx-2">
        <div class="status">Returned</div>
        <div class="count">{{ returned?.length }}</div>
        </div>
    </div>
    </div> -->
    <!-- form -->
    <div class="search-form row mt-2">
        <div class="col-lg-3 col-sm-12">
            <mat-form-field class="example-form-field" appearance="outline" class="w-100">
                <mat-label>Search</mat-label>
                <input matInput type="text" [(ngModel)]="searchText">
                <button matSuffix mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <!-- <div class="col-lg-2 col-md-2">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Ticket Id</mat-label>
        <mat-select [(ngModel)]="ojobOrTicketId">
            <mat-option *ngFor="let item of newIndentTable" [value]="item.jobOrTicketId">{{ item.jobOrTicketId }}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>

    <div class="col-lg-2 col-md-2">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Product</mat-label>
        <mat-select [(ngModel)]="oproductId">
            <mat-option *ngFor="let item of newIndentTable" [value]="item.productId">{{ item.productName }}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-2">
        <mat-form-field appearance="outline" class="w-100">
        <input matInput [matDatepicker]="picker1" placeholder="Created from" [(ngModel)]="ostartDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-2">
        <mat-form-field appearance="outline" class="w-100">
        <input matInput [matDatepicker]="picker2" placeholder="Created to" [(ngModel)]="oendDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-2">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="ostatus">
            <mat-option *ngFor="let item of indentStatus" [value]="item.keyId">{{ item.value }}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="  col-lg-1 col-md-1">
        <button (click)="applyFilter()">Submit</button>
    </div> -->
    </div>
    <!-- table -->
    <div class="table-resp">
        <table class="table table-hover" id="mytable">
            <thead>
                <tr class="form1">
                    <!-- <th>
            <input type="checkbox" class="form-check-input" [(ngModel)]="selectedAll" (change)="selectAll()"
                id="allcheck" style="
                background-color: #00000000;
                border-color: #fff;
                margin-left: 10px;
                " />
            </th> -->
            <th><p>SINO</p></th>
                    <th>
                        <p>
                            <span>Weaver Id</span>
                            <img (click)="sort('weaverId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                        </p>
                    </th>
                    <th>
                        <p>
                            <span>Weaver Name</span>
                            <img (click)="sort('weaverName')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                        </p>
                    </th>
                    <th>
                        <p>
                            <span>Machine No</span>
                            <img (click)="sort('machineNoAliasInventoryId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                        </p>
                    </th>
                    <th>Issued Date</th>
                    <th>
                        <p>Expected Date</p>
                        <img (click)="sort('expectedDate')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                    </th>
                    <th>Saree Count</th>
                    <th>Submitted Count</th>
                    <th>Actions</th>
                    <th>
                        <p>Details</p>
                    </th>
                    <!-- <th>OuputDetails</th> -->
                </tr>
            </thead>
            <tbody *ngIf="!showLoader">
                <tr *ngFor="let cust of indentTable | removeDuplicates:'id' | search:searchText ; let i = index ">
            <td><p>{{i+1}}</p></td>
                    <td>
                        <p>{{ cust.weaverId }}</p>
                    </td>
                    <td>
                        <p>{{ cust.weaverName }}</p>
                    </td>
                    <td>
                        <p>{{ cust.machineNoAliasInventoryId }}</p>
                    </td>
                    <td>
                        <p>{{cust.issuedDate}}</p>
                    </td>
                    <td>
                        <p>{{cust.expectedDate}}</p>
                    </td>
                    
                    <td>
                        <p>{{cust.sareeCount}}</p>
                    </td>
                    <td>
                        <p>{{cust.sareesSubmittedCount}}</p>
                    </td>
                    <td>
                        <button  style="background-color: #95cfad;"
                        [disabled]="cust.sareeCount === cust.sareesSubmittedCount" 
                        (click)="open(cust)"   
                        [matTooltip]="cust.sareeCount === cust.sareesSubmittedCount ? 'Cannot edit, counts match' : ''">Edit</button>
                    </td>
                    <td class="pointer">
                        <p style="color: darkgreen;" (click)="openviewDetailsDialog(cust)" matTooltip="view">View</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- err msg-->
    <div class="d-flex align-items-center justify-content-center" style="height: 50vh;"
        *ngIf="indentTable.length == 0 && !showLoader">
        <h1 class="text-secondary">No Data</h1>
    </div>
    <!-- loader -->
    <div>
        <app-loader *ngIf="showLoader" class="d-flex justify-content-center align-items-center"
            style="height: 50vh;"></app-loader>
    </div>
</div>


<ng-template #viewInventoryDialog>
    <div style="background-color: #084982;">
        <p class="dialog-title">VIEW INDENT</p>
    </div>
    <div class="dialog-content">
       
   </div>
    <div class="d-flex justify-content-end">
        <button class="dialog-close-btn" mat-dialog-close>Close</button>
    </div>
</ng-template>

<!-- <ng-template #editInventoryDialog>
    <div style="background-color: #084982;">
    <p class="dialog-title">MODIFY INDENT</p>
    /div>
    <div class="row dialog-content">
    <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Id</mat-label>
        <input matInput [(ngModel)]="currentItem.id" disabled>
        </mat-form-field>
    </div>
    <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>inventoryId</mat-label>
        <mat-select [(ngModel)]="updateInventoryId">
            <mat-option *ngFor="let item of inventorySerial" [value]="item.id">{{ item.id }} - {{ item.serialNo }}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="currentItem.statusId">
            <mat-option *ngFor="let item of indentStatus" [value]="item.keyId">{{ item.value }}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Remarks</mat-label>
        <input matInput [(ngModel)]="currentItem.remarks">
        </mat-form-field>
    </div>
    </div>
    <div class="d-flex align-items-center justify-content-end">
    <div>
        <button class="dialog-close-btn" mat-dialog-close>Close</button>
    </div>
    <div  >
        <button class="dialog-update-btn" mat-dialog-close (click)="updateIndent()">Update</button>
    </div>
    </div>
</ng-template> -->
<ng-template #deleteInventoryDialog>
    <div style="background-color: #084982;">
        <p class="dialog-title">View</p>
    </div>
    <div class="table-res dialog-content">
        <table class="table table-hover" id="mytable">
            <thead>
                <tr class="task-table">
                    <th>
                        <p>
                            <span>Weaver Id</span>
                            <img (click)="sort('id')" class="pointer" src="assets/icons/sorticon.svg" width="15px">
                        </p>
                    </th>
                    <th>
                        <p>
                            <span>Weaver Name</span>
                            <img (click)="sort('productCategoryId')" class="pointer" src="assets/icons/sorticon.svg"
                                width="15px">
                        </p>
                    </th>
                    <th>
                        <p>
                            <span>SubComponent</span>
                            <img (click)="sort('productModelId')" class="pointer" src="assets/icons/sorticon.svg"
                                width="15px">
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="!showLoader">
                <tr *ngFor="let cust of newIndentTable | search : searchText; let i = index">
                    <td>
                        <p>{{ cust.weaverId}}</p>
                    </td>
                    <td>
                        <p>{{ cust.weaverName}}</p>
                    </td>
                    <td>
                        <p>{{ cust.machineSubcomponentsAliasInventoryId}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
<ng-template #createOrderDialog>
    <div style="background-color: #084982;">
        <p class="dialog-title">CREATE CENTRALBOX</p>
    </div>
    <mat-dialog-content>
        <div class="row">
            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>centralBoxId</mat-label>
                    <input matInput [(ngModel)]="centralboxBody.centralBoxId">
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>inventoryId</mat-label>
                    <mat-select [(ngModel)]="centralboxBody.inventoryId">
                        <mat-option *ngFor="let item of inventoryDetail" [value]="item.id">{{ item.id }} - {{ item.name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <div>
        <button class="dialog-update-btn" (click)="openReplaceComponent()">Replace</button>
    </div>
    <div class="d-flex align-items-center justify-content-end">
        <div>
            <button class="dialog-close-btn" mat-dialog-close>Close</button>
        </div>
        <div>
            <button class="dialog-update-btn" mat-dialog-close (click)="addComponent()">Create</button>
        </div>
    </div>
</ng-template>

<ng-template #replaceComponentDialog>
    <div style="background-color: #084982;">
        <p class="dialog-title">CREATE CENTRALBOX</p>
    </div>
    <mat-dialog-content>
        <div class="row">
            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>oldInventoryId</mat-label>
                    <mat-select [(ngModel)]="body.oldInventoryId">
                        <mat-option *ngFor="let item of inventoryDetail" [value]="item.id">{{ item.id }} - {{ item.name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>newInventoryId</mat-label>
                    <mat-select [(ngModel)]="body.newInventoryId">
                        <mat-option *ngFor="let item of inventoryDetail" [value]="item.id">{{ item.id }} - {{ item.name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <div class="d-flex align-items-center justify-content-end">
        <div>
            <button class="dialog-close-btn" mat-dialog-close>Close</button>
        </div>
        <div>
            <button class="dialog-update-btn" mat-dialog-close (click)="replaceComponent()">Update</button>
        </div>
    </div>
</ng-template>

<ng-template #viewDetailsDialog>
    <!-- <div style="background-color: #125a2e;">
        <p class="dialog-title"></p>
    </div> -->
    <!-- <button type="button" class="btn btn-outline-success  mx-4 mb-3">Inputs</button> -->
    <h1 class="mb-2 mx-3">Raw Materials</h1>
    <mat-dialog-content>
        <div class="dialog-content">
            <div class="table-resp ">
                <table class="table table-hover" id="mytable">
                    <thead>
                        <tr>
                            <th><span>ItemName</span>
                                <img (click)="sort1('itemName')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                            </th>
                            <th>
                                <span>Color</span>
                                <img (click)="sort1('color')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                            </th>
                            <th>
                                <span>Quality</span>
                                <img (click)="sort1('quality')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                            </th>
                            <th>
                                <span>Cost</span>
                                <img (click)="sort1('cost')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                            </th>
                            <th>
                                <span>Quantity</span>
                                <img (click)="sort1('quantity')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
                            </th>
                               <th><p>Cloth Details</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cust of inventoryItems ; let i = index">
                       <ng-container>
                        <td>{{cust.itemName}}</td>
                        <td>
                            <p>{{cust.color}}</p>
                        </td>
                        <td>
                            <p>{{cust.quality}}</p>
                        </td>
                        <td>
                            <p>{{cust.cost}}</p>
                        </td>
                        <td>
                            <p>{{cust.quantity}}</p>
                        </td>
                        <td style="color: #125a2e;" class="pointer" (click)="ViewOutSareeInInv(cust)" matTooltip="view">View</td>
                       </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    <div>
        <h1 class="mx-3 mb-2">Finished Products</h1>
        <div class="dialog-content">
        <div class=" table-resp ">
            <table class=" table table-hover" id="mytable">
            <thead>
                <tr>
                <th>
                    <p>Saree1</p>
                </th>
                <th>
                    <p>Saree2</p>
                </th>
                <th>
                    <p>Saree3</p>
                </th>
                <th>
                    <p>Saree4</p>
                </th>
                <th>
                    <p>Saree5</p>
                </th>
                <!-- <th>
                    <p>irMachineAssignmentId</p>
                </th> -->
             
                </tr>
            </thead>
            <!-- *ngIf="cust.irMachineAssignmentId == currentItem?.machineAssignmentId;" -->
            <tbody>
                <tr *ngFor="let cust of outPut; let i = index" >
                    <ng-container *ngIf="cust.irMachineAssignmentId == currentItem1?.machineAssignmentId;">
                        <td>{{cust.saree1}}</td>
                        <td>
                            <p>{{cust.saree2}}</p>
                        </td>
                        <td>
                            <p>{{cust.saree3}}</p>
                        </td>
                        <td>
                            <p>{{cust.saree4}}</p>
                        </td>
                        <td>
                            <p>{{cust.saree5}}</p>
                        </td>
                        <!-- <td>
                            <p>{{cust.irMachineAssignmentId}}</p>
                        </td> -->
                       
                    </ng-container>
                        </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
    
    <!-- <mat-card class="mb-3 mt-2 mx-3">
        <h1 style="text-align: center;">Update Sarees</h1>
        <div class="row" >
            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100">
                <mat-label>saree</mat-label>
                <mat-select [(ngModel)]="sareeSelection">
                    <mat-option *ngFor="let item of Weavers_Output_Sarees" [value]="item.value">{{ item.value}}</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput [matDatepicker]="picker1" placeholder="date" [(ngModel)]="date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="create-btn" (click)="updateSarees()">Update</button>
            </div>
        </div>
    </mat-card> -->
    <div class="d-flex justify-content-end mt-1">
        <button class="dialog-close-btn" mat-dialog-close>Close</button>
    </div>
</mat-dialog-content>
</ng-template>




<ng-template #DetailsDialog>
    <!-- <div style="background-color: #125a2e;">
        <p class="dialog-title"></p>
    </div> -->
    <!-- <button type="button" class="btn btn-outline-success  mx-4 mb-3">Inputs</button> -->
    <!-- <h1 class="mb-2 mx-3">Raw Materials</h1> -->
    
    <mat-card class="mb-3 mt-2 mx-3">
        <h1 style="text-align: center;">Update Sarees</h1>
        <div class="row" >
            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100">
                <mat-label>saree</mat-label>
                <mat-select [(ngModel)]="sareeSelection">
                    <mat-option *ngFor="let item of Weavers_Output_Sarees" [value]="item.value">{{ item.value}}</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput [matDatepicker]="picker1" placeholder="date" [(ngModel)]="date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="create-btn" (click)="updateSarees()">Update</button>
            </div>
        </div>
    </mat-card>
    <div class="d-flex justify-content-end mt-2">
        <button class="dialog-close-btn" mat-dialog-close>Close</button>
    </div>
</ng-template>

<ng-template #usedItemsDialog>
    <div style="background-color: #053d1c;">
    <p class="dialog-title">Sarees</p>
    </div>
    <div class="dialog-content">
    <div class="table-res mx-3">
        <table class="table" id="mytable">
        <thead>
            <tr class="task-table">
            <th>Cloth Type</th>
            <th>Color</th>
            <th>ColorCode</th>
            <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of ViewOutSareeInInvData; let i = index">
            <td>
                <p>{{ task.clothType }}</p>
            </td>
            <td>
                <p>{{ task.color }}</p>
            </td>
            <td>
                <p>{{ task.colorCode }}</p>
            </td>
            <td>
                <p>{{ task.price}}</p>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
    <div class="d-flex justify-content-end">
    <button class="dialog-close-btn" mat-dialog-close>Close</button>
    </div>
</ng-template>
<div *ngIf="showIndent">
    <app-add-new-indent [show]="fromParent" (newItemEvent)="closenow(); listMachineAssignment()"></app-add-new-indent>
</div>