

.lists {
  margin-top: -20px;
}

::ng-deep .mat-flat-button.mat-primary {
  background-color: #084982;
}

/* common ng-deep */

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-outline {
  top: 5px;
  bottom: 5px;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

::ng-deep .mat-select-value {
  position: relative;
  bottom: 4px;
}

::ng-deep input.mat-input-element {
  position: relative;
  bottom: 4px;
}

::ng-deep .mat-form-field-outline {
  background: #F8F8F8;
}
